*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

header{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
body{
    background-image: linear-gradient(45deg, rgb(47, 169, 250), rgb(0, 110, 255));
    background-attachment: fixed;
}

main{
    background-color: rgb(253, 253, 253);
    margin: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(139, 139, 139);
    font-size: large;
    font-weight: 500;

    
}

section{
    padding-top: 10px;
    padding-left: 10px;
}

label{
    padding: 10px;
}

input{
    margin-top: 10px;
    border: none;
}

#nascimento{
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.349);
    font-size: 1em; 
}

#nascimento:hover{
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(51, 138, 252, 0.822);
    transition: 1s;
}

.botao{
    margin: 10px;
    text-align: center;
}
#ibuton{
    padding: 10px;
    background-color: rgb(0, 153, 255);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
}

#ibuton:hover{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0, 153, 255);
    transition: 0.7s;
}

#resultado{
    text-align: center;
    padding-top: 10px;
}


img{
    padding-top: 10px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 10px;
}


footer{
    text-align: center;
    padding-top: 10px;
    color: white;
}

form{
    padding: 10px;
}

